@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: var(--paragraph-font);
    width: auto;
    padding: 20px;
    flex: content;
    align-items: center;
}

:root {
    --primary-color: #3626a7;
    --secondary-color: #657ed4;
    --accent2-color: #ff331f;
    --accent1-color: #0d0106;

    --heading-font: 2rem, serif;
    --paragraph-font: 1.5rem, serif;

    --nav-background-color: #0d0106;
    --nav-link-color: #657ed4;
    --nav-hover-link-color: grey;
    --nav-hover-background-color: #0d0106;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    align-self: center;
}

header {
    display: flex;
    padding: 20px;
    background-color: var(--accent1-color);
    justify-content: space-evenly;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    display: flex;
    align-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.hero div {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
}

.client {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.client img{
    height: 200px;
    width: auto;
}

.client p {
    height: 100px;
    width: 300px;
}

.social-links {
    display: grid;
    grid-template-columns: 5fr 100px 100px 100px;
}

.info {
    display: flex;
    flex-direction: row;
    align-content: center;
    color: var(--primary-color);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.rafts img {
    flex-direction: row;
    width: 200px;
    height: auto;
}

.employees img {
    flex-direction: row;
    width: 200px;
    height: auto;
}

.rafts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.employees {
    display: flex;
    flex-direction: row;
    align-items: center;
}

figure {
    display: flex;
    flex-flow: column;
}

figcaption {
    text-align: center;
}

form {
    width: auto;
    display: grid;
    margin: 0 auto;  
}

fieldset {
    display: grid;
    justify-content: center;
    grid-gap: 5px;
    padding: 5px;
}

label {
    padding-right: 5px;
}

input, select, textarea {
    font-size: larger;
    padding: 5px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}

button {
    width: auto;
    height: auto;
    font-size: 1.5rem;
}

button:hover {
    background-color: bisque;
}